<% include head %>

<body class="index">
  <div class="navbar-fixed">
      <nav class="z-depth-0">
       <div class="nav-wrapper pink lighten-2">
         <a href="#!" class="brand-logo"><i class="material-icons">keyboard_tab</i>Token of Appreciation</a>
           <ul class="right hide-on-med-and-down">
             <li><a href="sass.html">Home</a></li>
             <li><a href="assign.html">Assign</a></li>
           </ul>
       </div>
     </nav>
  </div>
