<div class="col s12 m4 l3 left_col z-depth-1">
  <br>

    <ul class="collection with-header">
      <li class="collection-header"><div><h5>Account Data<i class="material-icons icons_left_col">person</i></h5></div></li>
      <li class="collection-item c_item_left_col">Address: <span id="UserAddress" class="address_trunc content_left_col">N/A</span></li>
      <li class="collection-item c_item_left_col">Validated: <span id="UserValidated" class="content_left_col">N/A</span></li>
      <li class="collection-item c_item_left_col">Your TAPs: <span id="UserBalance" class="content_left_col">N/A</span></li>
    </ul>

  <br>

    <ul class="collection with-header">
      <li class="collection-header"><div><h5>Chain Data<i class="material-icons icons_left_col">cloud_done</i></h5></div></li>
      <li class="collection-item c_item_left_col">Current Block: <span id="CurrentBlock" class="content_left_col">N/A</span></li>
      <li class="collection-item c_item_left_col">Time Since last Block: <span id="TimeSinceLastBlock" class="content_left_col">N/A</span></li>
      <li class="collection-item c_item_left_col">Network: <span id="Network" class="content_left_col">N/A</span></li>
    </ul>
</div>
