body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

#nav-bound-right{
  float: right;
}

/* label color */
label {
  color: #746b72 !important;
}
/* label focus color */
input:focus + label {
  color: #f06292 !important;
}
/* label underline focus color */
input:focus {
  border-bottom: 1px solid #f06292 !important;
  box-shadow: 0 1px 0 0 #f06292 !important;
}

li.pasttransactions {
  background-color: #d1c4e9 !important;
}

.btn:hover {
  background-color: #f2749f !important;
}

.btn-flat:hover {
  background-color: #f2749f !important;
}

.left_col {
  background-color: #d1c4e9;
  min-height: 100vh !important;
}

.right_col_cards {
  padding-left: 10vh !important;
  padding-right: 10vh !important;
}

.collection {
  border: 0px !important;
  border-radius: 0px !important;
  background-color: #d1c4e9 !important;
}

.collection-item {
  background-color: #d1c4e9 !important;
  border-bottom: 0px !important;
}

.c_item_left_col {
  padding-left: 20px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.collection-header {
  background-color: #d1c4e9 !important;
  border-bottom: 0px !important;
}

.icons_left_col {
  float: right !important;
}

.content_left_col {
  float: right !important;
}

.address_trunc {
  max-width: 60% !important;
  white-space: nowrap !important;
  display: inline-block !important;
  overflow: scroll !important;
}
